<form method="post" action="{{ path('rentable_delete', {'id': rentable.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rentable.id) }}">
    <button class="btn">Delete</button>
</form>
