{% extends 'base.html.twig' %}

{% block title %}New Rentable{% endblock %}

{% block body %}
    <h1>Create new Rentable</h1>

    {{ include('rentable/_form.html.twig') }}

    <a href="{{ path('rentable_index') }}">back to list</a>
{% endblock %}
